<nav class="navbar navbar-expand-lg navbar-light bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand text-white" [routerLink]="'/'">
            <span class="d-flex align-items-center">
                <i class="fa fa-apple fa-2x"></i>
                <span class="ms-2 mb-3 pt-4">iTunes Preview</span>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarTogglerDemo02">
            <div class="d-flex">
                <input class="form-control me-2 rounded-0" type="search" placeholder="Search" aria-label="Search"
                [(ngModel)]="searchTerm">
                <button class="btn btn-outline-success rounded-0" type="button" (click)="searchItunes()">Search</button>
            </div>
        </div>
    </div>
</nav>